# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Matplotlib
*.png
*.jpg

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Local config
*.local.toml
